#main-menu {
  text-align: right;
  display: inline-block;
  margin-left: auto;  
}

.site-header.header-casual {
  position: relative;
  background-color: white !important;
}

.site-header.header-casual .navbar-mainmenu,
.mobile-nav {
  background-color: white;
  border-bottom: 10px solid $color-blue;
}

.mobile-nav {
  padding: 10px 0;
}

.nav-left > li + li{
  margin-left: 0;
}

.menu-item-translate,
.menu-item-search {
  display: none !important;
}

.site-header.header-casual .logotype-text {
  font-size: 1.2em;
}

.logotype {
  display: inline-block !important;
  margin: 0 !important;
  max-width: 55px !important;
}

.logotype-text {
  vertical-align: middle;
  display: inline-block;
  padding-left: 10px;
  line-height:22px;
  font-size: 1.3em;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item > a::after {
  display: none;
  color: $color-blue;
}

.navbar ul a {
  padding: 22px 16px !important;
}

.current-menu-item {
  background-color: $color-blue;
}

.current-menu-item > a {
  color: white !important;
}

.navbar ul a:hover {
  text-decoration: underline !important;
}

.navbar ul a {
  padding: 16px;
}


.menu-trigger > .menu-icon,
.menu-trigger > .menu-icon::after,
.menu-trigger > .menu-icon::before {
  background-color: $color-blue !important;
}

.nav-mobile-menu {
  border-bottom: 2px solid $color-blue;
}

.nav-mobile {
  background-color: white !important;
  padding: 15px 0;
}

.nav-mobile a:hover {
  background-color: transparent;
}

.nav-mobile > .menu-item > a {
  color: $color-blue !important;
  padding: 8px 14px 12px 0;
}

.nav-mobile .current-menu-item {
  background-color: white;
}

.dropdown-menu {
  top: 93%;
  right: 4%;
  border: 1px solid $color-blue;
}

#loginform > p > label {
  display: inline-block;
  padding: 8px 0;
}

@media screen and (min-width: 895px) {
  #mobile-menu {
    display: none !important;
  }
}

@media screen and (max-width: 895px) {
  .menu-help > .nav-mobile > .menu-item > a[data-dropdown=".login-dropdown"] {
    display: none !important;
  }

  .subnav {
    display: inline-block;
    margin-right: 10px;
  }

  .dropdown-menu {
    top: 125%;
    right: 52px;
  }

  .site-header.header-casual .logotype-text {
    font-size: .8em;
  }

  .logotype {
    width: 35px;
  }
}