//Baseline
// $baseline: 8px !default;

// //HBG MIX variables
// $mix-mq-breakpoints: (
//     xs : 0,         //0px
//     sm : 32.5em,    //520px
//     md : 56em,      //980px
//     lg : 78em,      //1248px
//     xl : 100em      //1600px
// ) !default;

// $theme-border-size: 1px;
// $theme-border-color: black;
// $theme-border: solid $theme-border-size $theme-border-color;
// $theme-border-radius: 8px;

$color-blue: #0069b4;
$color-orange: #f9a301;
$color-gray: #ededed;

$color-text: #252525;

$shadow: 0px 3px 3px 1px rgba(0,0,0,0.15);



