//Settings
// @import 'settings/font';

html {
    overflow-x:hidden;
}

#wrapper {
    min-height: 100vh !important;
    overflow-x: hidden;
}

@import 'utility/variables';

a {
    text-decoration: none !important;
    color: $color-blue !important;
}


@import 'layout/navigation';
@import 'layout/post';
@import 'components/cards';
@import 'components/buttons';
@import 'base/overrides';
@import 'utility/mediaqueries';

//Tools
@import '../../../node_modules/hbg-mix/source/hbg-mix';
